@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Hind+Madurai&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Hind+Madurai&family=Jost&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
.Navbar {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent !important;
}
.logo {
  display: flex;
  align-items: center;
  margin:4%;
}
.logo img{
  width: 3em;
}
.nav-items{
  margin-right: 3.3em;
}
.Navbar > .nav-items > a {
  font-weight: 400;
  color: #484848;
  font-family: 'Amiko', sans-serif;
  font-size: 1.25em;
  text-decoration: none;
  margin: 35px 1.4em;
  position: relative;
  opacity: 0.9;
}
.Navbar > .nav-items > a:hover {
  opacity: 1;
  color: #008CBF;
  font-weight: bold;
}
.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 2%;
  bottom: -.8em;
  width: 0;
  height: 3px;
  background:  #008CBF;;
  transition: all 0.45s ;
  border-radius: .6em;
}
.Navbar > .nav-items > a:hover::before {
  width: 50%;
}
.Navbar > .nav-toggle {
  display: none;
}
@media (max-width: 700px) {
  .Navbar > .nav-items > a:hover {
    color: #fff;
  }
  .Navbar > .nav-items > a::before {
    background:  #fff;
  }
  .logo {
    margin:3%;
  }
  .Navbar > .nav-items {
    position: absolute;
    top: 6.5em;
    display: flex;
    flex-direction: column;
    background: #008CBF;
    left: 0;
    width: 100%;
    padding-left: 10px;
    height: 100%;
    transform: translateX(-100%);
  
  }
  .Navbar > .nav-items > a {
    color: white;
    font-family: Amiko;
    font-size: 1.3em;
    text-decoration: none;
    margin: 15px;
    padding: 3px;
    position: relative;
  }
  .Navbar > .nav-items > a::before {
      background: transparent;
  }
  .Navbar > .nav-items.open {
      transform: translateX(0);
  }
  .Navbar > .nav-toggle {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #008CBF;;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background:#008CBF;;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 32px;
    transform: translateY(-8px);
    right: 0;
  }
  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }
  .nav-toggle.open > .bar {
      transform: translateX(-40px);
      background: transparent;
  }
  .nav-toggle.open > .bar::before {
      width: 32px;
      transform: rotate(45deg) translate(26px, -26px);
  }
  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}
@media (max-width: 844px){
  .nav-items{
    margin-right: 1em;
  }
}

@media (min-width: 769px) and (max-width: 820px) {
  .Navbar > .nav-items > a {
    font-size: 20px; 
    margin: 8px; 
    padding: 8px; 
   
   

  }
  
  
}

@media (min-width: 912px) and (max-width: 1368px) {
  .Navbar > .nav-items > a {
    font-size: 30px; 
    margin: 8px; 
    padding: 8px; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Navbar > .nav-items > a {

    font-size: 18px; 
    margin: 8px; 
    padding-left:35px;
    padding: 8px; 
    margin-left:2%;
  }

}
@media (min-width: 820px) and (max-width: 1180px) {
  .Navbar > .nav-items > a {

    font-size: 18px; 
    margin: 8px; 
    padding: 8px; 
  }

}

@media (min-width: 600px) and (max-width: 1024px) {
 .logo{
  margin-left: 3%;
 }
}















